<h2 style="color: blueviolet;">
    <p>Gestión de Productos - {{usuario}}</p>
    
    <app-hola></app-hola>
</h2>
<hr>
<p>Ejemplos de formateo</p>
<p>{{no}}</p>
<p>{{no | number}}</p>
<p>{{no | number:'2.1-5'}}</p>
<p>{{no | number|currency:"EUR":"symbol-narrow"}}</p>
<p>{{no | number|currency:"CAD":"symbol-narrow"}}</p>
<p>{{no | number|currency:"CAD":"symbol"}}</p>
<p>{{no | number|currency:"USD":"symbol-narrow"}}</p>  
<p>{{no | number|currency:"USD":"symbol"}}</p>  
<hr>
<p>{{person}}</p>
<p>{{person|json}}</p>
<app-timer></app-timer>
<app-servers></app-servers>